@use '../index';

.playlist {
    width: 100vw;
    height: 80vh;
    background-color: index.$primary-bkg-color;
    @include index.flexRowCenter;

    .banner {        
        height: 100%;
        width: 100%;
        a {
            background-color: rgba(0,0,0,.8);
            padding: 30px;
            color: white;
            box-shadow: index.$shadow;
            text-decoration: none;
            border-radius: index.$curved-border;
            margin-bottom: 10px;
        }
        div {
            position: inherit;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 100%;
        }

        .inactive {
            display: none;
            background-image: none;
        }

        .playlistBtns {
            position: absolute;
            display: flex;
            height: fit-content;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            top: 50%;

            button {
                font-size: 40px;
                margin: 0 20px;
                background: none;
                border: none;
                color: white;
                cursor: pointer;
            }
        }  
        
    }



    footer {
        background-color: index.$primary-bkg-color;
    }
}


