@use '../index';

//ProductCard Component
.product {
    @include index.flexColCenter;
    background-color: index.$primary-bkg-color;
    width: fit-content;

    img {
        background-color: grey;
        height: 200px;
        width: 200px;
    }

    p {
        margin: 0;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: index.$primary-txt-color;
    }

    .productBtns button {
        margin: 10px;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: index.$curved-border;
    }
}

//ProductBanner Component
.productView {
    @include index.flexRowCenter;
    gap: 50px;
    background-color: index.$primary-bkg-color;
    box-shadow: index.$shadow;
    color: index.$primary-txt-color;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    animation: displayProduct .1s 0s linear;

    .productImages {
        display: flex;
        flex-direction: column;
        align-self: center;

        .productImgContainer {
            position: relative;

            .zoom {
                position: absolute;
                width: 200px;
                height: 200px;
                box-shadow: index.$shadow;
                background-size: 500px 500px;
                /* The zoomed-in image size  */
                background-repeat: no-repeat;
                border: 1px solid black;
                display: none;
                pointer-events: none;
            }

            /* Add the 'zoomed' class when the zoom effect is active */
            .zoom.zoomed {
                display: block;
            }

            img {
                height: 400px;
                width: 400px;
                margin-top: 20px;
                cursor: none;
            }
        }

        .imageSelect {
            @include index.flexRowCenter;
            gap: 30px;
            width: 400px;
            height: 100px;

            img {
                height: 75px;
                width: 75px;
                margin: 0;
                padding: 0;
                cursor: pointer;
            }
        }
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-evenly;
        gap: 10px;
        margin-top: 40px;
        width: 50%;
        height: 70%;
        text-align: center;

        h1 {
            font-size: 20px;
            line-height: 0;
            font-weight: 400;
            margin: 0;
        }

        h2 {
            font-size: 26px;
            font-weight: 500;
        }

        aside {
            line-height: 1.5;
            font-size: 18px;
            margin: 20px 0;
        }

        label {
            font-size: 20px;
            font-weight: 400;
        }

        .checkout,
        .checkout div {
            @include index.flexRowCenter;
            gap: 10%;
        }

        .checkout {
            div {
                button {
                    cursor: pointer;
                    font-size: 18px;
                    padding: 5px;
                    color: black;
                    background: none;
                }

                :active {
                    color: grey;
                }

                p {
                    text-shadow: index.$shadow;
                    color: black;
                    border: 2px solid black;
                    padding: 0 10px;
                    box-shadow: inset 0 0 2px rgba($color: black, $alpha: 0.5);
                    font-size: 18px;
                    font-weight: 400;
                }

            }

            button {
                cursor: pointer;
                background-color: green;
                color: white;
                font-size: 14px;
                border: none;
                padding: 20px;
                border-radius: index.$curved-border;
            }

            :active {
                color: grey;
            }
        }
    }
}

@keyframes displayProduct {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}