@use '../index';

.shoppingPage {
    display: flex;
    background-color: index.$primary-bkg-color;

    .searchCategories {
        ul {
            list-style: none;
            font-size: 18px;
            padding: 0;
            margin: 0;
            border-right: index.$border-default;
            border-bottom: index.$border-default;

            li {
                cursor: pointer;
                font-weight: 500;
            }:hover{
                text-decoration: underline;
            }
        }
    }

    .filterBar {
        color: index.$primary-txt-color;
        border-right: index.$border-default;
        height: 100vh;
        min-width: 15vw;    
        
        p {
            text-align: center;
        }
        
        h2 {
            margin: 0;
            padding: 10px 0;
            border-bottom: index.$border-default;
        }

        li {
            list-style: none;
            color: gold;
            text-shadow: 0 1px 1px black;
        }

        .filterPrice,
        .filterRating {
            border-bottom: index.$border-default;
            width: 100%;

            .fPInfo,
            .fRInfo {
                display: flex;
                justify-content: space-between;

                button {
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    font-size: 18px;
                    cursor: pointer;
                }
            }

            .fPRange {
                display: flex;
                justify-content: center;
            }
        }
    }

    .productSection {
        @include index.flexColCenter;
        height: 85vh;
        min-width: 85vw;
        overflow-y: scroll !important; 

        .products {
            @include index.flexRowCenter;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%
        }

        .changePage {
            @include index.flexRowCenter;
            gap: 20px;
            margin: 10px auto;
            
            button {
                width: 100%;
                padding: 10px;
                border: none;
                cursor: pointer;
                border-radius: index.$curved-border;
            }
        }
    }
}